# Types de base

### Les entiers (integers ou int)

In [2]:
a = 1
nombre_de_pommes = 5
num_adresse = 53

In [3]:
type(a)

int

In [4]:
print(num_adresse)

53

#### A vous: déclarer 3 variables de types int et les afficher

### Les flottants (float)

In [5]:
prix_pomme = 5.5
longitude = 42.78

In [6]:
type(prix_pomme)

float

In [7]:
print(prix_pomme)

5.5

In [8]:
# /!\ 
var1 = 5.0
var2 = 5.
var3 = 5
print("Le type de var1 est", type(var1))
print("Le type de var2 est", type(var2))
print("Le type de var3 est", type(var3))

Le type de var1 est <class 'float'>
Le type de var2 est <class 'float'>
Le type de var3 est <class 'int'>

#### A vous: déclarer 3 variables de types float et les afficher

### Les chaînes de caractères (strings ou str)

In [9]:
message = "Demain, nous serons samedi !"
message2 = "Aujourd'hui nous sommes vendredi."
# Concaténation
message_final = message2 + " Mais pas d'inquiétude. " + message

In [10]:
type(message_final)

str

In [11]:
print(message_final)

Aujourd'hui nous sommes vendredi. Mais pas d'inquiétude. Demain, nous serons samedi !

In [12]:
prenom = "Jules"
nom = "Cesar"
phrase = f"Il s'appelait {prenom} {nom}"

In [13]:
print(phrase)

Il s'appelait Jules Cesar

#### A vous: déclarer les 3 variables $\textit{numero}$ (int), $\textit{rue}$ (str), $\textit{ville}$ (str), puis créer la variable $\textit{adresse}$ qui est la concaténation des 3 séparées par des virgules.

/!\ utiliser le typage (changement de type d'une variable en un autre type)

### Les booléens (bool)

In [14]:
bool1 = True
bool2 = False

In [15]:
print(bool1)

True

In [16]:
print(type(bool1))

<class 'bool'>

In [17]:
# Tests d'égalité
n1 = 5
n2 = 5.0
n3 = 5.

In [18]:
print(n1 == n2)

True

In [19]:
print(n2 == n3)

True

In [20]:
print(n1 == n3)

True

In [21]:
n4 = str(n1)

In [22]:
print(n4)

5

In [23]:
print(n1 == n4)

False

### Listes (type list)

In [24]:
liste_vide = []
liste_vide_v2 = list()
groupe_de_5 = [n1, n2, n3, n4]

In [25]:
print(liste_vide == liste_vide_v2)

True

In [26]:
print(groupe_de_5)

[5, 5.0, 5.0, '5']

In [27]:
# L'indice du premier élement de la liste est 0
# L'indice du premier élement de la liste est -1 ou N - 1, N étant la longueur de la liste
print("Le premier élement de la liste est", groupe_de_5[0])
print("Le dernier élement de la liste est", groupe_de_5[-1])
print("Le deuxième élement de la liste est", groupe_de_5[1])
print("Le troisième élement de la liste est", groupe_de_5[2])

Le premier élement de la liste est 5
Le dernier élement de la liste est 5
Le deuxième élement de la liste est 5.0
Le troisième élement de la liste est 5.0

In [28]:
# append permet d'ajouter un élement à la fin de la liste
groupe_de_5.append("cinq")

In [29]:
print(groupe_de_5)

[5, 5.0, 5.0, '5', 'cinq']

In [30]:
# remove permet d'enlever la première occurence d'un élement dans la liste
groupe_de_5.remove(5)

In [31]:
print(groupe_de_5)

[5.0, 5.0, '5', 'cinq']

In [32]:
# pop permet d'enlever et d'afficher le ième élément de la liste
groupe_de_5.pop(2)

'5'

#### A vous: créer une liste vide nommée $\it{notre\_liste}$, lui ajouter les valeurs 1, 2, 3 et 4, afficher le deuxième élement de cette liste.

### Dictionnaires (type dict)

In [33]:
mon_dict = {}
mon_dict_v2 = dict()

Un dictionnaire est composé de clés et de valeurs. A chaque clé, une valeur est associée.

In [34]:
personne = {"Nom": "Bob", "Travail": "Boulanger", "Age": 70}

In [35]:
# Autre manière d'écrire
personne2 = {"Nom": "Lola",
             "Travail": "Etudiante", 
             "Age": 20}

In [36]:
print(type(personne2))

<class 'dict'>

In [37]:
# Les clés
print(personne2.keys())

dict_keys(['Nom', 'Travail', 'Age'])

In [38]:
# Les valeurs
print(personne2.values())

dict_values(['Lola', 'Etudiante', 20])

#### A vous: créer un dictionnaire $\textit{Magasin}$ contenant 3 fruits ainsi que leurs fruits